export( xml, distill)

S3method("[", XMLNode)
S3method("[[", XMLNode)
S3method("[<-", XMLNode)
S3method("[[<-", XMLNode)
S3method("+", XMLNode)

S3method("xml", "default")
S3method("xml", "connection")

